@font-face {
    font-family: "Libre Bodoni";
    src: url("/assets/fonts/LibreBodoni-VariableFont_wght.ttf");
}

body {
    background: linear-gradient(
        145deg,
        rgb(10, 10, 10) 0%,
        rgb(30, 31, 82) 150%
    );
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: "Libre Bodoni";
}

h1,
p {
    margin: 0;
}

a {
    color: unset;
}

header {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    .text {
        display: inline-block;
        width: 220px;
    }

    h1 {
        text-transform: uppercase;
        text-align: right;

        span {
            position: relative;
            z-index: 3;
        }
    }

    .image {
        width: 70px;
        display: flex;
        justify-content: flex-end;
        z-index: 2;

        img {
            transform: translateY(-10px);
        }
    }
}

.quote {
    width: 100%;
    display: grid;
    place-items: center;

    p {
        text-align: center;
        max-width: 200px;
        font-size: 18px;
    }
}

.phrase {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    .image {
        width: 100px;

        img {
            z-index: 1;
            transform: translateY(-1px);
        }
    }

    .text {
        span {
            position: relative;
        }

        line-height: 45px;
        display: flex;
        align-items: flex-end;

        .hide,
        .your {
            z-index: -1;
        }

        .moms {
            z-index: 2;
        }

        h1 {
            font-size: 52px;
        }
    }

    &:nth-child(even) {
        text-align: right;

        .party {
            z-index: 2;
        }

        .image {
            display: flex;
            justify-content: flex-end;
            width: 80px;

            img {
                transform: translateY(-7px);
            }
        }
    }
}

.batman {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.story {
    text-align: center;
    margin: 40px 0;
}

footer {
    display: grid;
    place-items: center;
    height: 80px;
}
