@font-face {
  font-family: "Ubuntu";
  src: url("/assets/Ubuntu-R.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(236, 255, 150);
  text-decoration: underline;
}

@keyframes rainbow-animation {
  to {
    background-position: 200vw;
  }
}

body {
  background: linear-gradient(to bottom, rgb(20, 20, 20), rgb(0, 0, 0));
  color: white;
  font-family: "Ubuntu";
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: calc(100% - 40px);
    max-width: 600px;
    margin: 20px;

    .title {
      position: fixed;
      background-color: #101010f8;
      width: 100%;
      top: 0;
      left: 0;

      h1 {
        padding: 20px;
        margin: 0;
        background-image: linear-gradient(
          to right,
          rgb(236, 188, 99),
          rgb(247, 247, 120),
          rgb(180, 252, 122),
          rgb(236, 188, 99)
        );
        animation: rainbow-animation 20s linear infinite;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .first {
      margin-top: 55px;
    }

    .pics-parent {
      display: flex;
      justify-content: center;
    }

    .pics {
      overflow: auto;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: 200px;
        width: auto;
      }
    }
  }
}

@media (max-width: 263.5px) {
  body {
    .container {
      .first {
        margin-top: 95px;
      }
    }
  }
}
