@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/SFProDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/SFProDisplay-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/SFProDisplay-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/SFProDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/SFProDisplay-Heavy.ttf") format("truetype");
}

html,
body {
    margin: 0;
}

body {
    font-family: "SF Pro Display", sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08349;
    letter-spacing: -0.002em;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: 0.009em;
}

a {
    color: #2997ff;
    text-decoration: none;
}

nav {
    width: calc(100% - 40px);
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f3f41;
    padding: 0 20px;

    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 569px;
    gap: 20px;
    position: relative;

    h2,
    h3 {
        text-align: center;
    }

    h2 {
        margin-top: 35px;
        margin-bottom: 5px;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .bottom {
        display: inline-flex;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;

        a:after {
            content: " >";
        }

        a:hover {
            text-decoration: underline;
        }
    }
}
