@font-face {
  font-family: "Libre Bodoni";
  src: url("/assets/fonts/LibreBodoni-VariableFont_wght.ttf");
}
@keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}
@keyframes show-overflow {
  100% {
    overflow-x: unset;
  }
}
body {
  background: linear-gradient(145deg, rgb(10, 10, 10) 0%, rgb(17, 17, 39) 150%);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  font-family: "Libre Bodoni";
  overflow-x: hidden;
  animation: 0s show-overflow 2s forwards;
}

h1,
p {
  margin: 0;
}

a {
  color: unset;
}

header {
  height: 200px;
  display: grid;
  place-items: center;
}
header a {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a .text {
  display: inline-block;
  width: 220px;
}
header a h1 {
  text-transform: uppercase;
  text-align: right;
  text-shadow: 0 0 5px black;
}
header a h1 span {
  position: relative;
  z-index: 3;
}
header a .image {
  width: 70px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
header a .image img {
  transform: translateY(-10px);
  filter: drop-shadow(0 0 5px black);
}

main {
  min-height: calc(100vh - 280px);
}

.quote {
  width: 100%;
  display: grid;
  place-items: center;
}
.quote p {
  text-align: center;
  max-width: 200px;
  font-size: 18px;
}

.phrase {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.phrase .image {
  width: 100px;
}
.phrase .image img {
  z-index: 1;
  transform: translateY(-1px);
  filter: drop-shadow(0 0 5px black);
}
.phrase .text {
  line-height: 45px;
  display: flex;
  align-items: flex-end;
}
.phrase .text h2 {
  font-size: 52px;
}
.phrase .text span {
  position: relative;
}
.phrase .text .hide,
.phrase .text .your {
  z-index: -1;
}
.phrase .text .moms {
  z-index: 2;
}
.phrase .text h2 {
  font-size: 52px;
  text-shadow: 0 0 5px black;
  margin: 0;
}
.phrase:nth-child(odd) {
  animation: slide-in 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.2s forwards;
  transform: translateX(100%);
}
.phrase:nth-child(2) {
  text-align: right;
  transform: translateX(-100%);
  animation: slide-in 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s forwards;
}
.phrase:nth-child(2) .party {
  z-index: 2;
}
.phrase:nth-child(2) .image {
  display: flex;
  justify-content: flex-end;
  width: 80px;
}
.phrase:nth-child(2) .image img {
  transform: translateY(-7px);
}
.phrase:nth-child(3) {
  margin-top: 20px;
}
.phrase:nth-child(3) .image {
  width: 170px;
}
.phrase:nth-child(3) .text {
  padding-top: 20px;
  align-items: center;
}
.phrase:nth-child(3) .text h2 {
  font-size: 35px;
  line-height: 32px;
}
.phrase:nth-child(3) .text .man,
.phrase:nth-child(3) .text .you,
.phrase:nth-child(3) .text .needed {
  z-index: -1;
}
.phrase:nth-child(3) .text .needed {
  margin-left: 27px;
}

.batman {
  display: grid;
  place-items: center;
  margin: 20px 0;
}
.batman img {
  filter: drop-shadow(0 0 5px black);
}

.instagram {
  display: grid;
  place-items: center;
}
.instagram a {
  text-decoration: none;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 3px 3px 10px black;
  transition-duration: 0.2s;
}
.instagram a:hover {
  scale: 1.2;
  background: linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
}

.discover {
  text-align: center;
  margin: 40px 0;
}

footer {
  display: grid;
  place-items: center;
  height: 80px;
}

.story-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story {
  padding: 30px 30px 0;
  width: calc(100% - 60px);
  max-width: 500px;
}
.story .text {
  display: flex;
}
.story .text p {
  max-width: 200px;
}
.story .text:nth-child(even) {
  justify-content: flex-end;
}
.story .text:nth-child(even) p {
  text-align: right;
}
.story .text:not(:first-child) {
  margin-top: 20px;
}
.story .goblin {
  margin-top: 20px;
  text-align: center;
}
.story .pics-parent {
  display: flex;
  justify-content: center;
}
.story .pics {
  display: flex;
  overflow: auto;
  gap: 5px;
  margin: 20px 0;
}
.story .description {
  text-align: center;
}

.notfound {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 280px);
}

@media (max-width: 450px) {
  .phrase:nth-child(3) .image {
    width: 120px;
  }
  .phrase:nth-child(3) .image img {
    height: 140px;
  }
  .phrase:nth-child(3) .text h2 {
    font-size: 30px;
    line-height: 27px;
  }
  .phrase:nth-child(3) .text .you {
    margin-left: 8px;
  }
}/*# sourceMappingURL=style.css.map */